.cover-icon {
	font-size: 16rem;
}

.btn-wrapper {
	padding-top: 2rem;
}

.image-control {
	width: 160px;
	height: 480px;
	max-height: 480px;
	overflow: scroll;
}

.image-fluid {
	width: 100%;
	object-fit: cover;
}

.home-product {
	width: 100%;
	object-fit: cover;
	height : 240px;
}

.product-cover-image {
	height: 480px;
}

.image-control-image {
	height: 120px;
}

.add-to-cart {
	font-size: 24px;
}

.detilasImage {
	width: 180px;
}

.detilasImage img {
	width: 100%;
	object-fit: cover;
	height: 180px;
}
