.cover-icon {
	font-size: 16rem;
}

.btn-wrapper {
	padding-top: 2rem;
}

.image-control {
	width: 160px;
	height: 480px;
	max-height: 480px;
	overflow: scroll;
}

.image-fluid {
	width: 100%;
	object-fit: cover;
}

.product-cover-image {
	height: 480px;
}

.image-control-image {
	height: 120px;
}

